################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
obj/
.gitignore
tools/mwcc_compiler
cbr.map
main.dol
main.elf
tools/elf2dol.exe
test/buildCBR.bat
*.o
*.bin
*.elf
*.dol
test/testCode2.s
test/testCode2.map
.pragma/cb1da508de97c2070fb61ff6cc7070d733e008e6.json
.vscode/settings.json
*.dump
tools/inlineasm/__pycache__/cache.cpython-37.pyc
tools/inlineasm/__pycache__/helpers.cpython-37.pyc
.pragma/935c9a7075d7cc8f2e79626ebeabba6594182ab1.json
Makefile
moveDol.bat
/.pragm
/lib_ex
/test/lib_ex
/src/TRK/TRK_memory.c
/src/TRK/TRK_mem.s
/src/TRK/TRK_header.s
*.rar
/test/.vscode
