################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
obj/
.gitignore
tools/mwcc_compiler
cbr.map
main.dol
main.elf
tools/elf2dol.exe
test/buildCBR.bat
*.o
*.bin
*.elf
*.dol
test/testCode2.s
test/testCode2.map
