################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
obj/
.gitignore
tools/mwcc_compiler
cbr.map
main.dol
main.elf
tools/elf2dol.exe
